extends layout

block content
	.container
		.game
			.top
				if data.cover
					if data.cover.cloudinary_id
						.title
							img(src=`https://images.igdb.com/igdb/image/upload/t_1080p/${data.cover.cloudinary_id}.jpg`)
							
				.info
					if data.name
						h2= data.name
					if platforms[0]
						h4 Platform - Region - Release Date
						for each in platforms
							if each.platform
								if each.human
									if each.region
										p #{h.findPlatform(each.platform)} - (#{h.getRegion(each.region)}) - #{h.dateFormat(each.human)}
									else 
										p #{h.findPlatform(each.platform)} - #{h.dateFormat(each.human)}
								else
									p #{h.findPlatform(each.platform)}
							else
								p Sorry, no info at this time
					else
						p Sorry, no info at this time
			
			if data.summary
					h3 Summary
					p= data.summary
			else if data.esrb
				if data.esrb.synopsis
					p= data.esrb.synopsis
			else
				p
					strong Sorry, no summary available at this time
				
			if data.screenshots
				h4 Screen Shots
				.list-group.screenshots
					for each in data.screenshots
						if (each.cloudinary_id)
							.list-group-item.list-group-item-action.screenshot(data-toggle='modal', data-target='.bs-example-modal-lg')
								img(src=`https://images.igdb.com/igdb/image/upload/t_thumb_2x/${each.cloudinary_id}.jpg`, data-target='#modal')
			else
				p
					strong Sorry, no images available at this time
					
			if games
				h4 Similar Games
				.list-group.similarGames
					for each in games
						if each.cover
							a(href=`${each.id}`).list-group-item.list-group.item.action.similarCover
								if each.name
									h5= each.name
								if each.cover
									img(src=each.cover.url)
				
	#modal.modal.fade.bs-example-modal-lg
		.modal-dialog.modal-lg
			.modal-content
				.modal-header
					button.close(type='close', data-dismiss='modal', aria-hidden='true') &times;
				.modal-body
					img#modalContainer
