doctype html
html
	head
		title= `${title} | ${h.siteName}`
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="shortcut icon" type="image/png" href="/images/favicon.png")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
		link(rel='stylesheet', href='/style.css')
	body
		nav.navbar.navbar-inverse.navbar-fixed-top
			.container-fluid
				.navbar-header
					button(type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar").navbar-toggle.collapsed
						span.sr-only Toggle Navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a(href='/').navbar-brand Game Search
				#navbar.collapse.navbar-collapse
					ul.nav.navbar-nav
						each item in h.menu
							if item.list !== null
								li.nav-item
									a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false") #{item.title}
										span.caret
									ul.dropdown-menu
										each link in item.list
											li
												a(href=link.slug) #{link.title}
							else
								li.nav-item
									a(href=item.slug) #{item.title}
					form(method='GET', action='/search').navbar-form.navbar-right
						.form-group
							input(type='text', placeholder='Search Game Title', name='title').form-control
							if user
								a(href='/logout').btn.btn-danger Log out
								a(href='/account')
									img(src=user.gravatar)
							else
								a(href='/register').btn.btn-primary Register
								a(href='/login').btn.btn-success Log In
						
		block messages
			if locals.flashes
				.container
					- const categories = Object.keys(locals.flashes)				
					each category in categories
						each message in flashes[category]
							.flash(class=`flash--${category}`)
								p.flash__text!= message
								button.flash__remove(onClick="this.parentElement.remove()") &times;

		block content
		
		
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
		script(src='/index.js')
