extends layout

block content
	.container
		- let pageTitle = title == 'Home' ? '' : title
		h2 #{pageTitle}
		.list-group.list
			for each in data
				.eachList
					a(href=`/game/${each.id}`).list-group-item.list-group-item-action
						if each.cover
							img(src=`https://images.igdb.com/igdb/image/upload/t_1080p/${each.cover.cloudinary_id}.jpg`, height=300)
						if each.name
							h3= each.name
						if each.summary
							p= h.short(each.summary)
